name: Build

on:
  push:
    branches: [main]

jobs:
  analysis:
    name: Run Static Analysis
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: main

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.11.4' # Define the elixir version [required]
        otp-version: '23.0' # Define the OTP version [required]
    - uses: actions/cache@v2
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-
    - name: Install dependencies
      run: mix deps.get
    - name: Static Analysis
      run: mix dialyzer --halt-exit-status
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: main

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.11.4' # Define the elixir version [required]
        otp-version: '23.0' # Define the OTP version [required]
    - uses: actions/cache@v2
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-
    - name: Install dependencies
      run: mix deps.get
    - name: Run tests
      run: MIX_ENV=test mix do compile, test
  deploy:
    name: Deploy to Hex
    runs-on: ubuntu-latest
    needs: [test, analysis]

    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.11.4' # define the elixir version [required]
        otp-version: '23.0' # define the otp version [required]
    - uses: actions/cache@v2
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-mix-
    - name: Install dependencies
      run: mix deps.get
    - name: Publish to Hex.pm
      run: mix hex.publish --yes
      env:
        HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
